@model outsource_onderdeel.Models.ViewModels.LocationViewModel;
@{
    ViewData["Title"] = "Map";
    ViewData["currentLocation"] = Model.Floor.ToString() + "." + Model.Room;
}


<div class="maincontent">

    <!-- Header -->
    <div class="left-hand-side">
        <h1> Waar ben je?</h1>
        <p> Je bent nu in @ViewData["CurrentLocation"]</p>
    </div>

    <!-- Map -->
    <div class="right-hand-side">
        <img src="~/img/p8gf.png" usemap="#P8-00" height="926" width="874" />
        <map name="P8-00">
            <area onclick="OpenModal(this.id)" href="#" data-roomnumber="0.06" alt="0.06" id="area-PK8" shape="rect" coords="314,25,581,292" />
            <area onclick="OpenModal(this.id)" href="#" data-roomnumber="0.13" alt="0.13" id="area-PK18" shape="rect" coords="256,293,313,349" />
            <area onclick="OpenModal(this.id)" href="#" data-roomnumber="0.14" alt="0.14" id="area-PK19" shape="poly" coords="48,25, 48,290, 309,289, 308,25, 196,25, 196,222, 116,222, 116,94, 196,94, 196,25 ,48,25" />
            <area onclick="OpenModal(this.id)" href="#" data-roomnumber="0.14A" alt="0.14A" id="area-PK20" shape="rect" coords="116,94,196,222" />
            <area onclick="OpenModal(this.id)" href="#" data-roomnumber="0.15" alt="0.15" id="area-PK21" shape="poly" coords="47,293, 47,378, 198,378, 198,482, 183,482, 183,542, 198,542, 198,647, 254,647, 254,556, 312,556, 312,471, 254,471, 254,293, 47,293" />
            <area onclick="OpenModal(this.id)" href="#" data-roomnumber="0.18" alt="0.18" id="area-PK22" shape="rect" coords="48,648,312,915" />
        </map>
    </div>

    <!-- Ja/Nee pop-up-->
    <div id="modal-enveloper">
        <div id="modal" data-response="fault">
            <p>Zit je in: <span id="modal-span">kamernummer</span></p>
            <button onclick="ConfirmRoom()">Ja</button><button onclick="ClearModal()">Nee</button>
        </div>
    </div>


    <div class="highlight-element"></div>
    <style>
        area:hover {
            cursor: pointer;
            outline-color: red;
        }

        area.selected {
            outline-color: red;
        }

        #modal-enveloper {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
        }

            #modal-enveloper.visible {
                display: block;
            }

        #modal {
            position: absolute;
            width: 250px;
            height: 200px;
            padding: 15px;
            border-radius: 15px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
        }

        .highlight-element {
            position: absolute;
            background-color: transparent;
            border: 1px solid red;
            top: 50px;
            left: 50px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded",
            function () {
                $("map").imageMapResize();
            });

        function OpenModal(roomId) {
            var x = document.getElementById("modal");
            x.dataset.response = roomId;
            var y = document.getElementById("modal-span");
            var Id = document.getElementById(roomId);
            Id.classList.add("selected");
            var roomnumber = Id.dataset.roomnumber;
            y.innerText = roomnumber + "?";
            var z = document.getElementById("modal-enveloper");
            z.classList.add("visible");
        }

        function ConfirmRoom() {
            var x = document.getElementById("modal");
            var y = document.getElementById("modal-span");
            var roomnumber = x.dataset.response;
            var Id = document.getElementById(roomnumber);
            Id.classList.add("selected");
            roomnumber = roomnumber.replace("area-PK", "");
            y.innerText = "Verwerken....";
            $.ajax({
                type: 'GET',
                url: 'Map/RoomChange',
                data: { id: roomnumber },
                datatype: 'json',
                complete: function () {
                    alert("Het is opgelsagen!");
                    var z = document.getElementById("modal-enveloper");
                    z.classList.remove("visible");
                    var spanEl = document.getElementById("UserCurrentLocation");
                    spanEl.innerText = Id.dataset.roomnumber;
                },
            });
            x.dataset.response = "fault";
        }

        function ClearModal() {
            var x = document.getElementById("modal");
            var xFuture = x.dataset.response;
            var Id = document.getElementById(xFuture);
            Id.classList.remove("selected");
            x.dataset.response = "fault";
            var y = document.getElementById("modal-span");
            y.innerText = "Geen kamer geselecteerd";
            console.log("geannuleerd");
            var z = document.getElementById("modal-enveloper");
            z.classList.remove("visible");
        }
    </script>
</div>